#Assignment : Python - Data Structure

1. What are data structures, and why are they important?
   -
   Data structures organize and store data efficiently.
   -
   They help in optimizing data access, processing, and storage.

2. Difference between mutable and immutable data types with examples:
   -
   Mutable types (like lists and dictionaries) can be changed after creation.
  -
  Immutable types (like strings and tuples) cannot be altered once created.

3. Main differences between lists and tuples in Python:
   -  
   Lists are mutable, can be changed, and are generally slower.
  -
  Tuples are immutable, faster, and used when data shouldn't change.

4. How do dictionaries store data?
   -
   Dictionaries store data as key-value pairs.
   -
   They use a hash table internally for fast access by key.

5. Why use a set instead of a list in Python?
   -
   Sets automatically eliminate duplicate elements.
   -
   They also allow faster membership testing than lists.

6. What is a string in Python, and how is it different from a list?
  -
  A string is an immutable sequence of characters.
   -
   Unlike lists, strings cannot be modified after creation.

7. How do tuples ensure data integrity in Python?
   -
   Tuples are immutable, so their data can't be changed accidentally.
   -
   This makes them useful for fixed collections like coordinates.

8. What is a hash table, and how does it relate to dictionaries in Python?
  -
  A hash table maps keys to values using hash functions.
   -
   Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
  -
  Yes, lists can hold integers, strings, objects, or even other lists.
  -
  They are versatile and allow mixed data types.

10. Why are strings immutable in Python?
  -
  Strings are immutable to enhance performance and memory efficiency.
   -
   This also makes them safer for use in shared or multithreaded environments.

11. Advantages of dictionaries over lists:
   -
   Dictionaries allow fast access using keys, not indexes.
   -
   They're ideal for structured data like user profiles or settings.

12. When to use a tuple instead of a list:
   -
   Use a tuple when data should not change throughout the program.
   -
   They’re also slightly faster and can be used as dictionary keys.

13. How do sets handle duplicates in Python?
   -
   Sets only store unique elements.
   -
   Any duplicate item added is automatically ignored

14. “in” keyword: lists vs. dictionaries:
   -
   In a list, it checks for the presence of a value.
   -
   In a dictionary, it checks for the presence of a key.

15. Can you modify tuple elements? Why or why not?
    -
    No, tuples are immutable and cannot be changed.
    -
    This helps protect data from accidental modifications.

16. What is a nested dictionary? Example use case:
    -
    A nested dictionary is a dictionary inside another dictionary.
    -
    Example: { "student1": {"math": 90, "science": 85} }

17. Time complexity of accessing elements in a dictionary:
    -
    Accessing elements by key in a dictionary is O(1) on average.
    -
    This means it’s very fast and efficient for lookups.

18. When are lists preferred over dictionaries?
   -
   Use lists when order is important or data doesn’t need keys.
  -
  They’re also simpler when storing just values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  -
  Before Python 3.7, dicts didn’t preserve insertion order.
  -
  So the retrieval order could be unpredictable.

20. List vs. dictionary in data retrieval:
   -
   Lists retrieve data by index, while dictionaries use keys.
  -
  Dictionaries are faster for lookups if keys are known.

1. Create a string with your name and print it:

In [3]:
name = "Amanda"
print(name)

Amanda

2. Find the length of the string "Hello World":

In [4]:
text = "Hello World"
print(len(text))

11

3. Slice the first 3 characters from the string "Python Programming":

In [5]:
s = "Python Programming"
print(s[:3])

Pyt

4. Convert the string "hello" to uppercase:

In [6]:
word = "hello"
print(word.upper())

HELLO

5. Replace the word "apple" with "orange" in the string "I like apple":

In [7]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it:

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4]:

In [9]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1, 2, 3, 4, 5]:

In [10]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Access the second element in the list ['a', 'b', 'c', 'd']:

In [11]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Reverse the list [10, 20, 30, 40, 50]:

In [12]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it

In [13]:
# Create the tuple
my_tuple = (100, 200, 300)
# Print the tuple
print(my_tuple)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'

In [14]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')
# Access second-to-last using negative indexing
print(colors[-2])

blue

13. Find the minimum number in the tuple (10, 20, 5, 15)

In [15]:
# Define the tuple
numbers = (10, 20, 5, 15)
# Use min() function to find the smallest number
print(min(numbers))

5

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [16]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')
# Use index() to find the position of "cat"
print(animals.index('cat'))

1

15. Create a tuple with three fruits and check if "kiwi" is in it

In [17]:
# Define the tuple
fruits = ('apple', 'banana', 'kiwi')
# Check for membership
print("kiwi" in fruits)

True

16. Create a set with the elements 'a', 'b', 'c' and print it

In [18]:
# Create the set
letters = {'a', 'b', 'c'}
# Print the set
print(letters)

{'c', 'b', 'a'}

17. Clear all elements from the set {1, 2, 3, 4, 5}

In [19]:
# Define the set
numbers = {1, 2, 3, 4, 5}
# Clear the set
numbers.clear()
# Print the empty set
print(numbers)

set()

18. Remove the element 4 from the set {1, 2, 3, 4}

In [20]:
# Define the set
numbers = {1, 2, 3, 4}
# Remove element 4
numbers.remove(4)
# Print the updated set
print(numbers)

{1, 2, 3}

19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [21]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
# Find the union using union()
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [22]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}
# Find the intersection using intersection()
print(set1.intersection(set2))

{2, 3}

21. Create a dictionary with the keys "name", "age", and "city", and print it

In [23]:
person = {"name": "Emma", "age": 28, "city": "London"}
print(person)

{'name': 'Emma', 'age': 28, 'city': 'London'}

22. Add "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [24]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value associated with "name" in {'name': 'Alice', 'age': 30}

In [25]:
data = {'name': 'Alice', 'age': 30}
print(data["name"])

Alice

24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [26]:
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info["age"]
print(info)

{'name': 'Bob', 'city': 'New York'}

25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

In [27]:
profile = {'name': 'Alice', 'city': 'Paris'}
print("city" in profile)

True

26. Create a list, a tuple, and a dictionary, and print them all

In [28]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {"x": 10, "y": 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] ('a', 'b', 'c') {'x': 10, 'y': 20}

27. Create a list of 5 random numbers between 1 and 100, sort it, and print

In [29]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[9, 74, 83, 86, 96]

28. Create a list with strings and print the element at index 3

In [30]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

29. Combine two dictionaries and print the result

In [31]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set

In [32]:
str_list = ["apple", "banana", "cherry", "apple"]
unique_set = set(str_list)
print(unique_set)

{'cherry', 'banana', 'apple'}